@model NetDevChallange.MvcWebUI.Models.GeneralModel
@{
    ViewData["Title"] = "Home Page";
}
<div class="row">
    @*Chat kanalı yazışmaları*@
    <div class="col-md-7" id="chat">
        @*Yazı Alanı*@
        <form asp-controller="Chat" asp-action="Index" method="post">
            <div class="row g-3 mt-2">
                <div class="col-auto col-md-2">
                    <label class="form-label" asp-for="@Model.Chat.User.UserName">User</label>
                </div>
                <div class="col-auto col-md-5">
                    <input type="text" class="form-control" id="userInput" asp-for="@Model.Chat.User.UserName" />
                    <span asp-validation-for="@Model.Chat.User.UserName" class="text-danger"></span>
                </div>
            </div>
            <div class="row g-3 mt-2">
                <div class="col-auto col-md-2">
                    <label class="form-label" asp-for="@Model.Chat.Message">Message</label>
                </div>
                <div class="col-auto col-md-5">
                    <input type="text" class="form-control" id="messageInput" asp-for="@Model.Chat.Message" />
                    <span asp-validation-for="@Model.Chat.Message" class="text-danger"></span>
                </div>
            </div>
            <div class="row g-3 mt-2">
                <div class="col-md-7 text-md-center">
                    <input type="button" class="btn btn-primary" id="sendButton" value="Send Message" disabled />
                </div>
            </div>
        </form>
        <div class="row g-3 mt-2">
            <div class="col-md-7">
                <hr />
            </div>
        </div>

        @*Yazışmalar*@
        <div class="row g-3 mt-2">
            <div class="col-md-7">
                <ul id="messagesList">
                    @foreach (var item in Model.Chats)
                    {
                        <li id="messages">@item.User.UserName : @item.Message</li>
                    }
                </ul>
            </div>
        </div>
    </div>

    @*Açık kanallar*@
    <div class="col-md-5">
        <div class="list-group">
            @foreach (var item in Model.Channels)
            {
                <a data-id="@item.Id" href="/Chat/Index/@item.Id" class="list-group-item list-group-item-action" style="text-decoration: none">@item.Name</a>
            }
        </div>
    </div>
</div>

@section Scripts{
    <script src="~/js/chat.js"></script>
}